*{
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

header {
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    background-image: linear-gradient(#7347f7, #533af6);
    width: 370px;
    height: 340px;
    color: white;
}

.numberbig {
    font-size: 38px;
}

.score {
    margin: 8px;
    display: flex;
    justify-content: center;
}
.little-ball {
    padding: 5px;
    margin: 5px 120px;
    width: 130px;
    height: 130px;
    background-image: linear-gradient(#3b14b2, #5d45f9);
    border-radius: 100px;
}

.totalscore {
    margin: 0px;
    display: flex;
    justify-content: center;
    color:rgb(210, 201, 201);
}

.message {
    display: flex;
    justify-content: center;
}

.title {
    margin: 0px;
}

.sentence {
    margin: 0px;
    padding-top: 20px;
    display:flex;
    justify-content: center;
    color:rgb(210, 201, 201);
}

.paragraph {
    justify-content: center;
    padding: 0px 50px;
    color: rgb(210, 201, 201);
}


main {
    width: 370px;
    height: 340px;
}

.summary {
    margin: 20px 10px;
}
.bottom {
    background-color: #121930;
    border:3px solid #121930;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    padding: 15px 0px;
    width: 370px;
    height:50px;
    color: white;
}

.container1 {
    border: 1px solid #FDE9F7;
    border-radius: 20px 20px;
    background-color: #FDE9F7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container2 {
    border: 1px solid #FEF8EC;
    border-radius: 20px 20px;
    background-color: #FEF8EC;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container3 {
    border: 1px solid #E7F6E7;
    border-radius: 20px 20px;
    background-color: #E7F6E7;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.container4 {
    border: 1px solid #E6F2FF;
    border-radius: 20px 20px;
    background-color: #E6F2FF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.iconray {
    font-size: 20px;
    color: orangered ;
}

.reaction {
    color: orangered;
}

.iconbrain {
    font-size: 20px;
    color: #FFDB58
    ;
}

.memory {
    color: #FFDB58;
}

.icondialogue {
    font-size: 20px;
    color: green;
}

.verbal {
    color: green;
}

.iconeye {
    font-size: 20px;
    color: blue;
}

.visual {
    color: blue;
}

span {
    color: rgb(210, 201, 201);
}